<div class="center hero-unit">
  <h1>Registered Users</h1>

  <h2>
    <table>
    <thead>
      <tr>
        <th>Registered Mails</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
	    </tr>
	  <% end %>
	 </tbody>
  </table>
  </h2>
</div>

<%= link_to image_tag("rails.gif", alt: "Rails"), '#' %>