<center>
<h1>Lista de Users</h1>
 <table border="1">
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Show</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.mail %></td>
    
    <td><%= link_to 'show', user %></td>
  </tr>
<% end %>
</table>
  
<p><%= link_to 'New User', new_user_path %></p>
  
</center>